<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="character set=UTF8;data source=class.mmcs.sfedu.ru;initial catalog=/fbdata/shop.fdb;user id=it39;dialect=3" providerName="FirebirdSql.Data.FirebirdClient" />
  <add name="Model2" connectionString="character set=UTF8;data source=class.mmcs.sfedu.ru;initial catalog=/fbdata/kondrashev_shop.fdb;user id=it39" providerName="FirebirdSql.Data.FirebirdClient" /><add name="Model3" connectionString="character set=UTF8;data source=class.mmcs.sfedu.ru;initial catalog=/fbdata/kondrashev_shop.fdb;user id=it39" providerName="FirebirdSql.Data.FirebirdClient" /></connectionStrings>
</configuration>